# --- Application Configuration ---
APP_PORT=8090
APP_HOST=http://localhost
APP_IMAGE_NAME=mail_and_media_shop_v2:app
APP_CONTAINER_NAME=mail_and_media_shop_v2

# --- Shop Database (PostgreSQL) ---
POSTGRES_IMAGE_VERSION=16
SHOP_DB_CONTAINER_NAME=shop_db
SHOP_DB_NAME=shop_db
SHOP_DB_USER=
SHOP_DB_PASSWORD=
SHOP_DB_PORT=5430

# --- Redis Configuration ---
REDIS_PORT=6379

# --- Keycloak Configuration ---
KEYCLOAK_PORT=8085
KC_URL=http://localhost:8085
KC_REALM=mail-and-media-shop-realm
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin
KC_ADMIN_USER=admin
KC_ADMIN_PASS=admin

# --- Keycloak Client Configuration ---
KC_CLIENT_ID=mail-and-media-shop-app
KC_CLIENT_SECRET=

# --- Keycloak Database (PostgreSQL) ---
KEYCLOAK_DB_IMAGE_VERSION=15-alpine
KEYCLOAK_DB_CONTAINER_NAME=keycloak-db
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak
KEYCLOAK_DB_PORT=5435

# --- SonarQube Configuration ---
SONAR_IMAGE_VERSION=latest
SONAR_CONTAINER_NAME=sonarqube
SONAR_PORT=9000
SONAR_HOST_URL=http://sonarqube:9000
SONAR_TOKEN=

# --- SonarQube Database ---
SONAR_DB_IMAGE_VERSION=16
SONAR_DB_CONTAINER_NAME=sonarqube_db
SONAR_DB_NAME=sonar
SONAR_DB_USER=sonar
SONAR_DB_PASSWORD=sonar

# --- Security & JWT ---
JWT_ISSUER=auth-service
JWT_EXPIRATION_MS=86400000
JWT_EXPECTED_AUDIENCE=mail-and-media-shop-app

# --- Social Login (Google) ---
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# --- Frontend Configuration ---
APPLICATION_FRONTEND_URL=http://localhost:3000

# --- Other Integrations ---
PRODUCER_URL=http://localhost:8097