# Application configuration for E2E tests
APP_PORT=8080
APP_HOST=http://localhost

# Shop DB
POSTGRES_IMAGE_VERSION=16
SHOP_DB_NAME=shop_db
SHOP_DB_USER=dev_user
SHOP_DB_PASSWORD=secret
SHOP_DB_PORT=5430